.findAndApplySearch{
    display: flex;
    align-items: flex-start;
    gap: 1rem;

    &Input {
        padding: 0.5rem 1rem;
        width: 34rem;
        height: 3.5875rem;
        border-radius: 0.2rem;
        border: 1px solid #20c6b1;
    }
    &Button {
        width: 6.25rem;
        display: flex;
        height: 3.5875rem;
        padding: 0.625rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        flex: 1 0 0;

        border-radius: 0.2rem;
        background: #20c6b1;

        color: #fff;
        font-family: Nunito;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        &:hover {
            border: 1px solid #20c6b1;
            background: #fff;
            color: #20c6b1;
        }
    }
}