.container {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;

    border-radius: 0.625rem;
    border: 1px solid #000;
    
    min-height: 26rem;
    .header {
        display: flex;
        align-items: center;
        gap: 7.4375rem;
        .wrapper {
            display: flex;
            align-items: flex-start;
            gap: 1.5rem;
            .logo {
                width: 4.5rem;
                height: 4.5rem;
            }
            .group {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.25rem;
                .name {
                    color: #000;
                    text-align: center;
                    font-family: Nunito;
                    font-size: 1.125rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
                .address {
                    color: #000;
                    text-align: center;
                    font-family: Nunito;
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
            .save{
                width: 1.8rem;
                height: 2.25rem;
            }
        }
        

    }
    .content{
        display: flex;
        width: 23rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        .positton{
            display: flex;
            align-items: center;
            gap: 0.625rem;
            align-self: stretch;
        }
        .threeShortdecr{
            display: flex;
            align-items: flex-start;
            gap: 1rem;
            align-self: stretch;

            .shortdecr{
                display: flex;
                align-items: flex-start;
                gap: 1rem;
                align-self: stretch;

                .shortdecrcontent{
                    display: flex;
                    padding: 0.25rem 0.5rem;
                    justify-content: center;
                    align-items: center;
                    gap: 0.5rem;
                    font-size: 0.875rem;

                    border-radius: 0.125rem;
                    background: #EBF0F3;
                    
                   
                }
            }
        }

        
        .longdecr {
            height: 50px;
            max-height: 3.75em;              /* Giới hạn chiều cao */
            overflow: hidden;                /* Ẩn phần nội dung vượt quá */
          }
          
          .decription {
            display: -webkit-box;            /* Sử dụng box layout để cắt ngắn văn bản */
            -webkit-line-clamp: 4;           /* Hiển thị tối đa 3 dòng */
            line-clamp: 4;                   /* Hiển thị tối đa 3 dòng */
            -webkit-box-orient: vertical;    /* Đặt hướng dòng dọc cho box layout */
            overflow: hidden;                /* Ẩn phần nội dung vượt quá */
            text-overflow: ellipsis;         /* Thêm dấu "..." khi văn bản bị cắt ngắn */
            
            color: #000;
            font-family: Nunito;
            font-size: 1.3rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.25rem; /* 142.857% */
            flex: 1 0 0;
          }
          
    }
    .footer{
        display: flex;
        width: 23rem;
        height: 2.5rem;
        align-items: flex-start;
        gap: 1rem;

        .button{
            display: flex;
            height: 2.5rem;
            padding: 0.5rem 1rem;
            justify-content: center;
            align-items: center;
            gap: 0.625rem;
            flex: 1 0 0;
        }
    }
}
